<!-- Page Content -->

    <div class="col-md-9">

        <div class="row">
          <h2 class="page-header">Boats &amp; Motors</h2>
          <p><label for="search">Search For</label> <span class="glyphicon glyphicon-search"></span> <input type="text" placeholder="Enter Search Term" ng-model="filtText" id="search"></p>

            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in boatsandmotors[0].boatsandmotors | filter:filtText">
                <div class="thumbnail">
                    <span class="thumb"><img src="{{item.image}}" alt="boats and motors"></span>
                    <div class="caption">
                        <h4>{{item.name}}</h4>
                        <small>Catalog Code: {{item.itemno}}</small>
                    </div>
                    <div class="prices">
                        <ngcart-addtocart id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}" quantity="1" quantity-max="30" data="item">Quote</ngcart-addtocart>
                        <p>
                            Duty Free US: {{item.price | currency}}<br>
                            Duty Free EC: {{item.price * 2.7 | currency}}<br>
                            Duty Paid EC: {{item.price * 3 | currency}}
                        </p>
                    </div>
                </div>
            </div>


        </div>

      </div>
