<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Brand Image Icon designed by http://iconka.com-->
<a class="navbar-brand" href="/"><span><img alt="Brand" src="images/cat-sleep-icon.png"></span> Cat-Log</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="/summary">Quote</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

<div class="row">

    <div class="col-md-3">
        <p class="lead">Categories</p>
        <div class="list-group">
          <a href="anchoring" class="list-group-item">Anchoring</a>
          <a href="boathardware" class="list-group-item">Boat Hardware</a>
          <a href="boatsandmotors" class="list-group-item">Boats &amp; Motors</a>
          <a href="clothing" class="list-group-item">Clothing</a>
          <a href="divebuddy" class="list-group-item">Diving</a>
          <a href="electrical" class="list-group-item">Electrical</a>
          <a href="electronic" class="list-group-item">Electronics</a>
          <a href="fishing" class="list-group-item">Fishing</a>
          <a href="guides" class="list-group-item">Guides, Charts &amp; Compasses</a>
          <a href="interior" class="list-group-item">Interior</a>
          <a href="maintenance" class="list-group-item">Maintenance</a>
          <a href="plumbing" class="list-group-item">Plumbing</a>
          <a href="rigging" class="list-group-item">Rigging</a>
          <a href="safety" class="list-group-item">Safety</a>
        </div>
    </div>

    <div class="col-md-9">

        <div class="row carousel-holder">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                          <img class="slide-image" src="images/carousel-1.jpg" alt="">
                      </div>
                      <div class="item">
                          <img class="slide-image" src="images/carousel-2.jpg" alt="">
                      </div>
                      <div class="item">
                          <img class="slide-image" src="images/carousel-3.jpg" alt="">
                      </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
          <h2 class="page-header">Boat Hardware Section</h2>
          <p><label for="search">Search For</label> <span class="glyphicon glyphicon-search"></span> <input type="text" placeholder="Enter Search Term" ng-model="filtText" id="search"></p>

            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in boathardware | filter:filtText">
                <div class="thumbnail">
                    <img src="{{item.image}}" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{{item.price | currency}}</h4>
                        <h4>{{item.name}}</h4>
                        <small>Catalog Code: {{item.itemno}}</small>
                    </div>
                    <div class="ratings">
                        <ngcart-addtocart id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}" quantity="1" quantity-max="30" data="item">Quote</ngcart-addtocart>
                        <p>
                            <span class="">Duty Free EC$: {{item.price * 2.7 | currency}}</span><br>
                            <span class="">Duty Paid EC$: {{item.price * 3 | currency}}</span>
                        </p>
                    </div>
                </div>
            </div>


        </div>

      </div>

  </div>

</div>
<!-- /.container -->

<div class="container">

  <hr>

  <!-- Footer -->
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; Cat Log 2007</p>
          </div>
      </div>
  </footer>

</div>
<!-- /.container -->
