<!-- Page Content -->
    <div class="col-md-9">

        <div class="row carousel-holder">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                          <img class="slide-image" src="images/carousel-1.jpg" alt="">
                      </div>
                      <div class="item">
                          <img class="slide-image" src="images/carousel-2.jpg" alt="">
                      </div>
                      <div class="item">
                          <img class="slide-image" src="images/carousel-3.jpg" alt="">
                      </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
          <h2 class="page-header">Clothing</h2>
          <p><label for="search">Search For</label> <span class="glyphicon glyphicon-search"></span> <input type="text" placeholder="Enter Search Term" ng-model="filtText" id="search"></p>

            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in clothing[0].clothing | filter:filtText">
                <div class="thumbnail">
                    <img src="images/clothing.jpg" alt="clothing">
                    <div class="caption">
                        <h4 class="pull-right">US{{item.price | currency}}</h4>
                        <h4>{{item.name}}</h4>
                        <small>Catalog Code: {{item.itemno}}</small>
                    </div>
                    <div class="ratings">
                        <ngcart-addtocart id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}" quantity="1" quantity-max="30" data="item">Quote</ngcart-addtocart>
                        <p>
                            <span class="">Duty Free EC: {{item.price * 2.7 | currency}}</span><br>
                            <span class="">Duty Paid EC: {{item.price * 3 | currency}}</span>
                        </p>
                    </div>
                </div>
            </div>


        </div>

      </div>
