<!DOCTYPE html>

<!-- Page Content -->

    <div class="col-md-9">

        <div class="row">

            <div class="col-sm-12 col-lg-12 col-md-12">
                <span style="font-size:2em;padding:30%;"><h1>Welcome To Cat-Log!</h1></span>
                <span style="font-size:1.5em;"><p>This is Cat-Log, a live catalog built for the purpose of browsing my store's inventory and gathering prices in the form of quotations.
                To be honest, this is more like a beta version. There are so many more features I would have liked to implement, however I simply could not
                  implement them all in time for the project deadline, haha. So enjoy my very simple minimum viable product.</p></br>

                  <p>In the future, I'd like to add all sorts of nifty features like User Authentication, Facebook and Google sign-ins and maybe even convert it to a full-fledged store!</p></br>

                  <p>PS. It's named "Cat-Log" because we recently took in a cat at work and couldn't come up with an original name for it...so we just call her "Kitty". This app was named in the same way.</p></span>
            </div>


        </div>

      </div>
