<div class="col-md-3">
    <p class="lead">Categories</p>
    <div class="list-group">
      <a ui-sref="app.anchoring" class="list-group-item">Anchoring</a>
      <a ui-sref="app.boathardware" class="list-group-item">Boat Hardware</a>
      <a ui-sref="app.boatsandmotors" class="list-group-item">Boats &amp; Motors</a>
      <a ui-sref="app.clothing" class="list-group-item">Clothing</a>
      <a ui-sref="app.divebuddy" class="list-group-item">Diving</a>
      <a ui-sref="app.electrical" class="list-group-item">Electrical</a>
      <a ui-sref="app.electronic" class="list-group-item">Electronics</a>
      <a ui-sref="app.fishing" class="list-group-item">Fishing</a>
      <a ui-sref="app.guides" class="list-group-item">Guides, Charts &amp; Compasses</a>
      <a ui-sref="app.interior" class="list-group-item">Interior</a>
      <a ui-sref="app.maintenance" class="list-group-item">Maintenance</a>
      <a ui-sref="app.plumbing" class="list-group-item">Plumbing</a>
      <a ui-sref="app.rigging" class="list-group-item">Rigging</a>
      <a ui-sref="app.safety" class="list-group-item">Safety</a>
    </div>
</div>
