<!DOCTYPE html>

<!-- Page Content -->




    <div class="col-md-9">

        <div class="row carousel-holder">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="images/carousel-1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="images/carousel-2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="images/carousel-3.jpg" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12 col-lg-12 col-md-12">
                <h1 class="page-header">Welcome To Cat-Log!</h1>
                <p>This is Cat-Log, a live catalog built for the purpose of browsing my store's inventory and gathering prices in the form of quotations.
                To be honest, this is more like a beta version. There are so many more features I would have liked to implement, however I simply could not
                  implement them all in time for the project deadline, haha. So enjoy my very simple minimum viable product.</p>

                  <p>In the future, I'd like to add all sorts of nifty features like User Authentication, Facebook and Google sign-ins and maybe even convert it to a full-fledged store!</p>

                  <p>PS. It's named "Cat-Log" because we recently took in a cat at work and couldn't come up with an original name for it...so we just call her "Kitty". This app was named in the same way.</p>
            </div>


        </div>

      </div>
